<div class="main bookmarks-index">
  <% if @shops.present? %>
    <div class="container">
      <% @shops.each do |shop| %>
        <div class="shop-index-items link-panel clearfix ">
          <div class="shop-left">
            <div class="shop-image">
              <img src=<%= shop["image_url"]["shop_image1"].blank? ? "/no-image-icon-5.jpg" : shop["image_url"]["shop_image2"] %> >
            </div>
            <% if @current_user %>
              <div id=<%="shop-bookmark-#{shop['id']}"%>>
                <%= render 'bookmarks/follow', shop_id: shop['id'] %>
              </div>
            <% end %>
          </div>

          <div class="shop-right">
            <div class="shop-name">
              <%= link_to("", shop["url"], target: "_blank") %>
              <%= shop["name"] %>
            </div>
            <div class="shop-category">
              <%= shop["category"] %>
            </div>
            
            <div class="shop-score"> 
              平均評価:
              <%=  shop["score"].present? ? shop["score"].round(2) : "-" %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>